footer.page-footer
    .container-fluid
        .row
            .col-md-6
                a.footer-brand(href='/')
                    i.icn-logo.material-icons directions_car
                    | Autosteward
            
            .col-md-6
                .footer-items.clearfix
                    a.footer-item.footer-link(href='contact') Contact
    .footer-copyright.center-block
        .container-fluid.text-center Ⓒ Autosteward.  All rights reserved.