extends layout

block content
    .main.container
        .row
        .col-md-8.col-md-offset-2
            h1.display-4.m-b-2 Services
            p. 
                AutoSteward can tailor its services to the needs of your dealership.
                Whether you are looking to improve key parts sales, or improve the overall
                performance of your Fixed Ops department, Autosteward can develop a custom
                data solution for your team.

            a.btn.btn-primary(href='#') Get in touch
        .row.sub-service   
        .col-md-8.col-md-offset-2
            h2.display-5 Association Rules
            p.
                AKA Market-Basket rules look to make associations between ites, data, and 
                behaviors that continuously show up togehter in analysis.  While used extensively
                by Retailers to determine the location of items on shelves, it has been utilized
                succesfully online by Amazon and Netflix most notably to predict customer wants
                and needs in near real-time
        .row.sub-service   
        .col-md-8.col-md-offset-2
            h2.display-5 Predictive Modeling
            p.
                Predictive modeling can help determine what or when a customer is most likely
                to decide in a given situation.  In the service lane, it would be great to 
                know what part, service, or accesory the customer is most likely to buy next.
                Using the power of your own data, predictive algorithms can be built that are
                specific to your dealership and your service drive.
                 
            